<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resources/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=inventory_2" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=map" />
</head>
<style>
    body{
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .buttons-container{
        align-self: center;
        display: flex;
        justify-content: space-around;
        width: 60%;
        margin: auto;
    }
    nav{
        display: flex;
        justify-content: space-around;
        background-color: rgb(124 189 246);
        align-items: center;
        width: 100%;
    }
    .buttons-container a{
        width: 250px;
        height: 250px;
        -webkit-appearance: button;
        background-color: rgb(124 189 246);
        color: white;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    h2{
        color: white;
    }
    .user-info-container{
        display: flex;
    }
    figure{
        width: 50px;
        height: 50px;
        background-color: white;
        border-radius: 100%;
    }

    .btn-login{
    width: 150px;
    background-color: white;
    color: rgb(69, 139, 200);
    text-decoration: none;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .btn-register{
    margin: 0;
    width: 150px;
    background-color: white;
    color: rgb(69, 139, 200);
    text-decoration: none;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btns-session-container{
    display: flex;
    gap: 30px;
}
</style>
<body>
    <% if (login){ %>
        <nav>
            <div class="user-info-container">
                <figure></figure>
                <h2><strong><%= name %></strong></h2>
            </div>
            <a href="logout" class="a-logout">Cerrar Sesion</a>
        </nav>

        <div class="buttons-container">
            <a href="catalogo">
                <span class="material-symbols-outlined">
                    inventory_2
                </span>    
                Catalogo
            </a>
            <a href="puntosVenta">
                <span class="material-symbols-outlined">
                    map
                    </span>
                Puntos de Venta
            </a>
        </div>

        <%} else{ %>
            <nav style="position: absolute; top: 0; padding: 1rem;">
                <h2>
                    KOI
                </h2>
                <div class="btns-session-container">
                    <a href="login" class="btn-login">Iniciar Sesion</a>
                    <a href="register" class="btn-register">Registrarme</a>
                </div>
            </nav>
        <% } %>

</body>
</html>